

  
  form {
    background: rgb(245, 7, 154);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;

  }
  
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(78, 45, 45);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
.submit_form {
    text-align: center;
}

        